<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/vars_and_fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5a47573fb9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <h1 class="header__h1">Raffle of Year</h1>
        <ul class="header__ul">
            <li class="header__li"><a href="">View source code</a></li>
            <li class="header__li"><a href="https://github.com/BlackBarto">Visit my Github</a></li>
        </ul>
    </header>
    <section class="messages" id="messages">
        <% messages.forEach( message => { %>
            <article class="messages__<%= message.class %>">
                <h3 class="messages__h3"><%= message.text %></h3>
                <button class="messages__btn"><i data-type="close-message" class="fa-solid fa-circle-xmark"></i></button>
            </article>
        <% }) %>
    </section>
    <main class="numbers">
        <article class="numbers__form-container">
            <h2 class="numbers__h2">Search your favorite number to register it</h2>
            <form class="numbers__form">
                <input type="search" name="search_number" id="searcher-input">
                <button id="searcher-btn" title="Search a number"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button id="searcher-filter" title="Show available numbers"><i class="fa-solid fa-filter"></i><i class="fa-solid fa-filter-circle-xmark no-visible"></i></button>
            </form>
        </article>
        <section class="numbers__section">
	        <article class="numbers__no-results">
		        <img src="/imgs/not_found.svg">
	        </article>
	        <div id="numbers-place"></div>
	        <div id="numbers-loading" class="numbers__loading">
	            <div class="numbers__loader"></div>
	            <p class="numbers__loader--message">Loading...</p>
	        </div>
        </section>
    </main>
    <script type="module" src="/js/index/main.js"></script>
</body>
</html>
